{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit {{category.name}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="{{ url_for('editCategory',category_id = category.id)}}" method = "post">
					      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label input-field-text margin-top-5">
							<input class="mdl-textfield__input" type="text" name="Name" value="{{item.name}}" id="name">
							<label class="mdl-textfield__label" for="Name"> Name</label>
						  </div>
						  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label input-field-text">
							<input class="mdl-textfield__input" type="text" name="Description" value="{{item.description}}" id="description">
							<label class="mdl-textfield__label" for="Description">Description</label>
						  </div>
						  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label input-field-text">
							<input class="mdl-textfield__input" type="text" name="price" value="{{item.price}}" id="price">
							<label class="mdl-textfield__label" for="price">Price</label>
						  </div>
						
			
						    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fullwidth input-field-text">
				
							<input class="mdl-textfield__input" type="text" name="category" id="category" value="{{item.category}}" readonly tabIndex="-1">
							<label for="category" class="mdl-textfield__label">Genre</label>
							<ul for="category" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
								<li class="mdl-menu__item">SANDWICHES</li>
								<li class="mdl-menu__item">SALADS</li>
								<li class="mdl-menu__item">DESSERTS</li>
								<li class="mdl-menu__item">Other</li>
							</ul>
							</div>
				
						<br>
						<input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent input-button mdl-color--teal" onclick="validateDetails()" type="button" value="Edit">
						<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--grey-300 input-button" href="{{url_for('showcategorys')}}">Cancel</a>
				
			</form>





				
		</div>
	</div>
{% endblock %}